<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>e6878b1718834063ae4298a59ebb634c</string>
	<key>ClientSecret</key>
	<string>8a0968c352f543bfb0c6234036f97edc</string>
	<key>ConsumerKey</key>
	<string>e6878b1718834063ae4298a59ebb634c
</string>
	<key>ConsumerSecret</key>
	<string>9a3a9b717c49437ca75ef2b1da970cbc</string>
</dict>
</plist>
